/* Variables */
:root {
    --primary-color: #FD7E14;
    /* --primary-color: #147EFD; */
    --primary-text: #1A1F2C;
    --secondary-text: #454D60;
    --text-light: #576076;
    --background-color: #F9F4ED;
    /* --background-color: #EDF4F9; */
    --primary-border: #E8DDCE;
    /* --primary-border: #CEDDE8; */
    --secondary-border: #1A1F2C;
    --black: #0C0C0d;
    --white: #FFF;
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Russo One', sans-serif;
}

/* General Styles */
body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--background-color);
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.section-title {
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    margin: 10px;
}

.brand {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    letter-spacing: +1px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contact {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
}

/* Projects Section */
.projects {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    margin: 0 10px;
}

.project-card {
    display: flex;
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--white);
}

.project-image {
    background-color: #fdc882;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.project-details {
    flex: 1;
}

.project-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.project-description {
    margin-bottom: 10px;
    color: #555;
}

.tech-stack {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tech-stack li {
    background-color: #eaeaea;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Contact Form */
#contact {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea,
button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--primary-border);
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
}