/* Variables */
:root {
    --primary-color: #FD7E14;
    /* --primary-color: #147EFD; */
    --primary-text: #1A1F2C;
    --secondary-text: #454D60;
    --text-light: #576076;
    --background-color: #F9F4ED;
    /* --background-color: #EDF4F9; */
    --primary-border: #E8DDCE;
    /* --primary-border: #CEDDE8; */
    --secondary-border: #1A1F2C;
    --black: #0C0C0d;
    --white: #FFF;
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Russo One', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Styles */
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--background-color);
}

#bg-img {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(1rem);
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.section-title {
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    margin: 10px;
}

.brand {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    letter-spacing: +1px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contact {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
}

/* Projects Section */
.projects {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    margin: 0 10px;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--primary-border);
    border-radius: 5px;
    padding: 0;
    margin-bottom: 20px;
    background-color: var(--white);
}

.image-container {
    position: relative;
    max-height: 250px;

}

.project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-details {
    flex: 1;
    padding: 1rem;
}

.project-title {
    position: relative;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 900;
    color: #333;
    text-align: center;
    padding: 0.8rem 0;
}

.project-title::after {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    content: "";
}

.project-description {
    margin-bottom: 10px;
    color: #555;
}

.tech-stack {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tech-stack li {
    background-color: #eaeaea;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Contact Form */
#contact {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea,
button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--primary-border);
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
}

/* @media (max-width: 600px) {
    .project-card {
        flex-direction: column;
    }

    .project-image {
        margin: 0 auto;
    }
} */